* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-size: 1rem;
    height: 100VH;
    background-color: hsl(0, 0%, 95%);
    position: relative;
}

main {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 95%;
    max-width: 920px;
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.7rem;
    margin-bottom: 0.6em;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 9em;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.sedans a{
    color: hsl(31, 77%, 52%);
}

.sedans a:hover {
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.suvs a{
    color: hsl(184, 100%, 22%);
}

.suvs a:hover {
    background-color: hsl(184, 100%, 22%);;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

.luxury a{
    color: hsl(179, 100%, 13%);
}

.luxury a:hover {
    background-color: hsl(179, 100%, 13%);
}

section {
    padding: 3.3em;
    position: relative;
}

section img {
    margin-bottom: 2.1em;
}

section a {
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    padding: 1em 2.1em;
    border-radius: 30px;
    position: absolute;
    bottom: 3.3em;
    left: 3.3em;
}

section a:hover {
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 768px) {
    main {
        width: 99%;
    }

    section {
        padding: 1.5em;
    }

    section a {
        left: 1.5em;
        bottom: 1.5em;
        padding: 1em;
    }

    footer {
        display: none;
    }
}

@media (max-width: 480px) {

    body {
        position: static;
        height: auto;
    }

    main {
        flex-direction: column;
        top: auto;
        left: auto;
        transform: none;
        margin: 1em auto;
        width: 91%;
    }

    h1 {
        font-size: 2.6em;
        margin-bottom: 0.75em;
    }
    
    section {
        padding: 3.3em;
    }

    section a {
        left: 3.3em;
        bottom: 3.3em;
        padding: 1em 2.1em;
    }

    p {
        margin-bottom: 5em;
    }

    .sedans {
        border-radius: 10px 10px 0 0;
    }

    .luxury {
        border-radius: 0 0 10px 10px;
    }

}